/*
|-----------------------------
| Rules From .Net Template
|-----------------------------
*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/






/*
|-----------------------------
| My own Style Rules
|-----------------------------
*/

/* General Items */
body{
    min-width:475px;
}
input {
    padding:.25em .25em .25em .25em;
    margin-top:.25rem;
    margin-bottom:.25rem;
    max-width:100%;
}

.italics {
    font-style:italic;
}

.bold {
    font-weight:bold;
}
/* End General Items */

.AIContainer {
    min-height:10rem;
    padding:1em;
    background-color:#f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px 4px 0px 0px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.AIContainer_output {
    padding:.4em 1em .4em .4em;
    text-align:right;
    background-color:#505050;
    color:white;
    border-radius: 0px 0px 4px 4px;
    margin-bottom:1.5rem
}

.output-success {
    font-weight:bold;
    background-color:green;
}

.output-error {
    font-style:italic;
    background-color:red;
}

.no-wrap-container {
    white-space:nowrap;
}

/* bigger than phone */
@media (min-device-width : 768px) {

}