
@{
    ViewBag.Title = "Compare";
}

<h2>Compare</h2>

<div class="container">
    <div class="row">
        @for (int i = 0; i < ViewBag.views.Count; i++)
        {
            ViewBag.AIName = ViewBag.views[i];

            <div class="col-xs-12 col-md-6">
                <div class="AIContainer">
                    @Html.Partial("_AwfulInput")
                </div>
                <div id="@(ViewBag.AIName + "-output")" class="AIContainer_output" data-is-visible="false"></div>
            </div>
        }
    </div>
</div>
